frequency가 2 이상인 데이터 추출 순서
1. frequency가 2 이상인 단어 제외하고 다 삭제
2. hop_num 다시 계산한다. (null인 경우 0으로 처리)
3. 각 단어가 20개 이상인 데이터만 남겨두고 삭제

In [1]:
import pandas as pd
import json
import random

df = pd.read_excel("../../data/one_hop/preprocessed_df.xlsx")
df.fillna('null',inplace=True)
dx = df.copy()

with open('../../data/one_hop/word_frequency.json', "r") as f:
    word_counts = json.load(f)

In [2]:
df.head()

,index,subject,subject_id,sbj_one_hop,sbj_hop_num,obj_true,obj_true_id,obj_one_hop,obj_true_hop_num,obj_new,obj_new_id,obj_new_one_hop,obj_new_hop_num,view
0,0,Danielle Darrieux,Q234149,"human,film actor,Porfirio Rubirosa,Georges Mit...",20,French,Q150,"Vietnam,past imperative,Mali,participle,syllab...",72,English,Q1860,"simple present,Brunei,close back rounded vowel...",149,222931
1,1,Edwin of Northumbria,Q348955,"Whitby Abbey,human,Catholic saint,Cwenburh,Ger...",11,Christianity,Q5043,"Bible,christianisme,Jesus,Christian,hiristiyan...",17,Islam,Q432,"Battle of Uhud,Kaaba,Sufism,Dua,Jewish Encyclo...",68,177019
2,2,Toko Yasuda,Q7813654,"Japan,human,plvsvltramusic,rock music,bass gui...",12,guitar,Q6607,"body,machine head,Gitarre,Armenian Soviet Ency...",28,piano,Q5994,"klaver,Bartolomeo Cristofori,A,pianist,Klavier...",6,74330
3,3,Autonomous University of Madrid,Q788091,"Coalition for Advancing Research Assessment,Ag...",8,Spain,Q29,"La Rioja,Vietnam,Carlist Wars,Occitan,Immacula...",153,Sweden,Q34,"Iran,Kattegat,suedezi,Halland,Iraq,Swedish Emp...",136,87615
4,4,Lyon,Q456,"FRLIO,Gallia Lugdunensis,Lionano,Vaise,Jericho...",37,Beirut,Q3820,"Lebanon,Mousseitbeh,Ashrafieh,administrative t...",39,Manila,Q1461,"Nice,Pearl of the Orient,Philippines,Sacrament...",82,2376138

In [8]:
for i in range(len(df)):
    if (df.loc[i, 'sbj_one_hop'] == 'null'):
        print(df.loc[i, 'index'],df.loc[i, 'subject'],",", df.loc[i, 'subject_id'], ",", df.loc[i, 'obj_true'],",", df.loc[i, 'obj_new'])

25 Platform Controller Hub , Q2811910 , Intel , Dodge
51 Prydz Bay , Q156116 , Antarctica , Africa
118 Oliver Ames High School , Q7087388 , Massachusetts , Pennsylvania
125 Manila Light Rail Transit System , Q4165607 , Philippines , Ukraine
187 Hamburg International Film Festival , Q1414659 , Hamburg , Rome
208 Teres Ridge , Q7702080 , Antarctica , Africa
221 Risemedet Mountain , Q7335997 , Antarctica , Americas
281 Matusevich Glacier , Q6792020 , Antarctica , Europe
285 Wesley Hospital , Q7983933 , Queensland , Athens
288 Massenet Festival , Q2901924 , France , Albania
322 Riverway, Townsville , Q7338795 , Queensland , Liberia
354 Caribbean Community Secretariat , Q7444221 , Georgetown , Frankfurt
397 Romulus Glacier , Q7363383 , Antarctica , Europe
423 Delchev Ridge , Q5253560 , Antarctica , Europe
485 Florence , Q2044 , Athens , Florence
636 Old Trinity Church , Q7085331 , Pennsylvania , Missouri
708 Anahuac National Wildlife Refuge , Q4750914 , Texas , Virginia
710 Taiwan Pride , Q7676561 , Taiwan , Manchester
782 Honda CX series , Q1626555 , Honda , Airbus
800 Boeing Helicopters , Q24897009 , Boeing , Yahoo
819 2011 Cannes Film Festival , Q510527 , Cannes , Prescott
868 Mount Fridtjof Nansen , Q3321842 , Antarctica , Africa
970 Bryan Air Force Base , Q4979936 , Texas , Pennsylvania
974 Chu Lai Base Area , Q18639545 , Vietnam , Australia
1031 Athens , Q1524 , Athens , Jakarta
1066 Pare Glacier , Q7136613 , Antarctica , Asia
1067 Gazi University , Q1496662 , Ankara , Glasgow
1081 Eureka Glacier , Q5411181 , Antarctica , Asia
1157 Mundraga Bay , Q141600 , Antarctica , Europe
1204 Mount Hornsby , Q6921327 , Antarctica , Europe
1213 GNU/Linux naming controversy , Q1423906 , Linux , Minnesota
1236 Squad 51 , Q7581888 , Dodge , Suzuki
1281 Al Daayen , Q310786 , Qatar , Iraq
1311 Ma'an Governorate , Q606340 , Jordan , Naples
1392 Kiev-Sviatoshyn Raion , Q2996231 , Kiev , Vienna
1398 Battle of Chacabuco , Q1425658 , Santiago , Chelsea
1461 Shackleton Ice Shelf , Q1389927 , Antarctica , Europe
1477 Mount San Antonio , Q128657 , California , Oregon
1481 Hollywood Reel Independent Film Festival , Q18150719 , Hollywood , Edmonton
1484 Battle of the Menin Road Ridge , Q4872951 , Belgium , Atlanta
1492 community development block in India , Q2775236 , India , Romania
1497 Astrid Lindgren Memorial Award , Q430035 , Sweden , Luxembourg
1499 Turkey national rugby union team , Q1634826 , Turkey , Romania
1513 Liverpool Range , Q1633267 , Australia , Ireland
1520 Brisbane International Film Festival , Q1191276 , Brisbane , Tehran
1533 Lake Vida , Q169061 , Antarctica , Africa
1534 Zion Canyon , Q8072495 , Utah , Vienna
1543 68th Venice International Film Festival , Q1337021 , Venice , Wales
1552 Florida Championship Wrestling , Q1345419 , WWE , Google
1625 Yokohama International School , Q8054631 , Japan , Netherlands
1661 Buddhist philosophy , Q1001079 , Buddhism , Christianity
1748 Kranji War Memorial , Q2945352 , Singapore , Jerusalem
1750 Windows Easy Transfer , Q4438797 , Microsoft , Sony
1807 Cleveland , Q37320 , Cleveland , Lisbon
1833 Jim Rome Is Burning , Q6197842 , ESPN , NBC
1850 Mount Black , Q9333854 , Antarctica , Europe
1852 Padda Island , Q7123305 , Antarctica , Europe
1857 Belfast Film Festival , Q4882286 , Belfast , Kent
1880 Ryder Bay , Q153662 , Antarctica , Europe
1939 Great Sheffield Flood , Q1157828 , Sheffield , Moscow
1950 Cohasset High School , Q5141309 , Massachusetts , Naples
1972 Clan Cumming , Q1094924 , Scotland , Shanghai
2005 Boyana Glacier , Q4952223 , Antarctica , Europe
2049 Organic Articles , Q2029959 , French , German
2055 Irvine High School , Q6074332 , Irvine , Alberta
2081 IBM Network Control Program , Q16928022 , IBM , Boeing
2096 Charlotte Bay , Q141286 , Antarctica , Europe
2122 Svarthamaren Mountain , Q3446033 , Antarctica , Europe
2226 Singapore Bus Service , Q4473722 , Singapore , Tokyo
2234 chemical test , Q3944822 , chemistry , art
2341 2008 Kabul Serena Hotel attack , Q1797924 , Kabul , Newport
2388 Lexus LF , Q6537927 , Toyota , Ferrari
2402 Carrera family , Q599145 , Chile , Sweden
2427 Honda CRF series , Q3786490 , Honda , Apple
2440 Norfolk Air , Q7050992 , Australia , Malta
2497 Newsstand , Q2686971 , Apple , Adobe
2548 Paulding Bay , Q281503 , Antarctica , Europe
2577 Honda Civic Type R , Q748076 , Honda , Microsoft
2633 Mini E , Q6865039 , BMW , Cadillac
2675 I Used to Be Fat , Q3982568 , MTV , NBC
2783 Elk State Park , Q5364129 , Pennsylvania , Istanbul
2847 El Dorado Wrestling , Q5351206 , Tokyo , Stockholm
2856 Peterloo Massacre , Q876357 , Manchester , Bangkok
2881 Anvil Publishing , Q4777986 , Philippines , Manchester
2891 Condor Peninsula , Q2681282 , Antarctica , Europe
2900 Honey War , Q388166 , Missouri , Colorado
2977 Iskar Glacier , Q6081308 , Antarctica , Africa
3030 Glitch Mode Recordings , Q5569947 , Chicago , Rome
3056 Greenwich Park , Q929586 , Greenwich , Edinburgh
3082 French immersion , Q4492491 , French , Finnish
3091 Gibbs Glacier , Q5558961 , Antarctica , Africa
3133 Leelanau Peninsula , Q6516276 , Michigan , Victoria
3154 Beirut , Q3820 , Cairo , Beirut
3229 Prague , Q1085 , Kyoto , Prague
3245 Japanese Pharmacopoeia , Q8479640 , Japan , Sweden
3292 Amazon Simple Queue Service , Q4033880 , Amazon , Google
3346 Mount Queequeg , Q6431489 , Antarctica , Europe
3379 IBM Business System 12 , Q16927958 , IBM , Nintendo
3382 Scottish Handball Association , Q7437769 , Scotland , Bedford
3495 Festninga Mountain , Q5445857 , Antarctica , Europe
3621 Markham District High School , Q6771001 , Canada , Indonesia
3643 Silent River Film Festival , Q15139062 , Irvine , Oxford
3697 Le Puy Foot 43 Auvergne , Q3226092 , France , Albania
3852 Struga Poetry Evenings , Q1210792 , poetry , geography
3855 San Diego High School , Q2894818 , California , Illinois
4163 A Ver-o-Mar , Q300608 , Portuguese , Finnish
4206 Beascochea Bay , Q141504 , Antarctica , Americas
4225 ColorSync , Q1111151 , Apple , Microsoft
4230 Atlantic Film Festival , Q125608819 , Halifax , Santiago
4306 Astrolabe Glacier , Q3108357 , Antarctica , Africa
4413 Hull Glacier , Q5935916 , Antarctica , Europe
4434 Wapekeka First Nation , Q7968241 , Ontario , Berkshire
4511 KaraFilm Festival , Q6367512 , Karachi , Barcelona
4519 Shinnan Glacier , Q3108323 , Antarctica , Europe
4526 Al-Suqaylabiyah Subdistrict , Q12247301 , Syria , India
4527 English plural , Q5378621 , English , German
4532 Event Viewer , Q360204 , Microsoft , IBM
4544 William Scoresby Bay , Q156132 , Antarctica , Europe
4612 Java coffee , Q2642722 , Java , Amsterdam
4693 Bruce Plateau , Q4978145 , Antarctica , Asia
4766 Loy Yang Power Station , Q1165095 , Victoria , Queensland
4816 Nokia Internet tablet , Q6267970 , Nokia , Intel
4858 Microsoft Expression Blend , Q594763 , Microsoft , Apple
4869 Kadrina Rural Municipality , Q1013773 , Estonia , Argentina
4872 Alberta Alliance Party , Q4711576 , Canada , Argentina
4939 Northeast Glacier , Q8964182 , Antarctica , Europe
4967 A Marriage Proposal , Q1194195 , Russian , Hebrew
4985 Prespa Glacier , Q7241579 , Antarctica , Europe
4986 Romania during World War I , Q85808346 , Romania , London
5014 Vestreskorve Glacier , Q7923502 , Antarctica , Asia
5086 Shipka Saddle , Q7498002 , Antarctica , Europe
5115 IBM Rational Unified Process , Q478019 , IBM , Nintendo
5129 Portobello Film Festival , Q966765 , London , Philadelphia
5146 Garwood Valley , Q5524553 , Antarctica , Europe
5230 Constitution of Afghanistan , Q2545548 , Afghanistan , Venezuela
5279 Varna Peninsula , Q2646658 , Antarctica , Asia
5300 Sony SLT camera , Q209491 , Sony , Fiat
5312 Forster Square , Q5470629 , Bradford , Rome
5372 Mount Weaver , Q6924529 , Antarctica , Asia
5399 Edmonton International Film Festival , Q5339068 , Edmonton , Yorkshire
5432 Cuban War of Independence , Q1514908 , Cuba , Hungary
5434 Beaglehole Glacier , Q4876097 , Antarctica , Americas
5440 Southampton Castle , Q7569104 , Southampton , Alberta
5444 Vietnam Film Festival , Q7928507 , Vietnam , Moscow
5514 IBM 1710 , Q5965596 , IBM , Dodge
5654 Von Essen Mountain , Q7756724 , Antarctica , Asia
5676 Spicket River , Q7576951 , Massachusetts , Independence
5770 Russians in Ukraine , Q311762 , Russian , French
5873 Norwich Market , Q3289887 , Norwich , Irvine
5914 Schytt Glacier , Q3372454 , Antarctica , Europe
5926 Achaean Range , Q2996102 , Antarctica , Europe
5951 London Indian Film Festival , Q6670490 , London , Chicago
5958 Melnik Ridge , Q6813254 , Antarctica , Europe
5963 Tanga Region , Q389737 , Tanzania , Stockholm
5973 Contell Glacier , Q5164934 , Antarctica , Africa
5996 Chuprene Glacier , Q5116493 , Antarctica , Americas
6019 Battle of Hohenlinden , Q705813 , Munich , France
6051 Victor Bay , Q144149 , Antarctica , Asia
6054 Trigono , Q7841791 , Greece , Colombia
6079 Dhule Lok Sabha constituency , Q5269854 , Maharashtra , Cambodia
6083 Peacock Sound , Q1618810 , Antarctica , Asia
6121 Shirase Glacier , Q3358392 , Antarctica , Asia
6122 Panega Glacier , Q3761665 , Antarctica , Asia
6239 Mount Steere , Q264074 , Antarctica , Europe
6272 Watt Bay , Q143324 , Antarctica , Asia
6296 Zarqa Governorate , Q721445 , Jordan , Oregon
6298 Higher Technological Institute (Egypt) , Q14590694 , Egypt , Italy
6392 George VI Ice Shelf , Q1388612 , Antarctica , Asia
6490 Toyota G1 , Q6754560 , Toyota , Chrysler
6572 Kyrgyz Revolution of 2010 , Q236023 , Russian , Finnish
6578 SKY Perfect Well Think , Q3486431 , Tokyo , Cologne
6664 Portuguese cuisine , Q180817 , Portugal , Canada
6714 South East Forests National Park , Q1164884 , Australia , Ireland
6746 Growler Valley , Q5611694 , Arizona , Idaho
6759 Battle of Baltimore , Q1850527 , Baltimore , Afghanistan
6783 WWE Classics on Demand , Q35985 , WWE , BBC
6852 Detroit Windsor International Film Festival , Q5266050 , Detroit , Seoul
6872 Three Rivers Film Festival , Q7797749 , Pittsburgh , Paris
6923 Uniform Type Identifier , Q2257511 , Apple , IBM
6948 Microsoft Mail , Q6840172 , Microsoft , Sega
7035 Insight Film Festival , Q6038083 , Manchester , Berlin
7093 Athens , Q1524 , Chicago , Athens
7120 Coulommiers cheese , Q774297 , France , Canada
7152 16th London Turkish Film Festival , Q4552186 , London , Shanghai
7263 Ciompi Revolt , Q1092673 , Florence , Copenhagen
7458 Probuda Ridge , Q3647265 , Antarctica , Europe
7495 Venus Glacier , Q7920592 , Antarctica , Europe
7628 Orpheus Island National Park , Q1410343 , Australia , Italy
7727 21st Ankara International Film Festival , Q4631030 , Ankara , Aden
7786 Getz Ice Shelf , Q825948 , Antarctica , Europe
7879 Damascus International Film Festival , Q4119285 , Damascus , India
7942 Berkovitsa Glacier , Q4892210 , Antarctica , Europe
8010 Brittany , Q327 , Brittany , Florida
8072 Battle of Montereau , Q976655 , France , Norway
8181 Sam Hill Memorial Bridge , Q7407606 , Oregon , Florence
8324 Bogra Zilla School , Q4937781 , Bangladesh , Philippines
8366 Mount Manthe , Q6922007 , Antarctica , Asia
8421 Shipton Ridge , Q7498126 , Antarctica , Asia
8545 Lefortovo District , Q1382617 , Moscow , Gujarat
8566 Bunda District , Q1888276 , Tanzania , India
8574 Mapple Glacier , Q6754189 , Antarctica , Europe
8594 Ankara , Q3640 , Miami , Ankara
8625 canton of Bolivia , Q824650 , Bolivia , Poland
8673 Vaughan Inlet , Q7917291 , Antarctica , Africa
8750 Brooklyn Film Festival , Q4974827 , Brooklyn , Melbourne
8820 Juan Carlos I Antarctic Base , Q403043 , Antarctica , Asia
8884 64th Venice International Film Festival , Q1667155 , Venice , Istanbul
8924 Magazin Istoric , Q6729740 , Romanian , Spanish
8982 Tarnobrzeg Voivodeship , Q1416177 , Poland , Italy
8986 Posadowsky Bay , Q281803 , Antarctica , Europe
9024 NBA on TNT , Q6952720 , TNT , HBO
9105 Edina High School , Q5338105 , Minnesota , Pennsylvania
9150 Tibesti Region , Q737711 , Chad , Manitoba
9222 IBM System Management Facilities , Q5969059 , IBM , Sega
9243 Porsche Carrera , Q2104586 , Porsche , Dodge
9250 Gazi University , Q1496662 , Ankara , Manchester
9308 MacKenzie Bay , Q156262 , Antarctica , Europe
9359 Nottingham Crown Court , Q7063630 , Nottingham , London
9391 Lake Vostok , Q152044 , Antarctica , Americas
9471 Cadillac de Ville series , Q1025175 , Cadillac , Renault
9516 IBM Tivoli Workload Scheduler , Q1651256 , IBM , Microsoft
9538 Google Checkout , Q1048294 , Google , Apple
9549 Geelong Art Gallery , Q5529829 , Victoria , Ontario
9553 Green Party of England and Wales , Q9669 , London , Seattle
9575 Phobos Ridge , Q7186620 , Antarctica , Africa
9734 Geelong Ring Road , Q1497677 , Australia , India
9750 Homs Governorate , Q214094 , Damascus , Tokyo
9762 Saunders Mountain , Q6989759 , Antarctica , Europe
9816 Film Festival Cologne , Q1110281 , Cologne , Vancouver
9846 Bishop Loughlin Memorial High School , Q4917627 , Brooklyn , Independence
9920 Suzuki GSX-R series , Q2002725 , Suzuki , Intel
9950 Rewas , Q7319042 , Maharashtra , Oklahoma
10053 Mount Mentzel , Q6922153 , Antarctica , Asia
10070 Beacon Supergroup , Q4875990 , Antarctica , Europe
10082 I Got a Boy , Q1449685 , Korean , Hindi
10170 Pautalia Glacier , Q7155492 , Antarctica , Africa
10186 Cambridge , Q49111 , Cambridge , Shanghai
10224 Life is a Dream , Q138174 , Spanish , Korean
10318 IBM System Object Model , Q2376827 , IBM , Microsoft
10357 Ambatofinandrahana District , Q3030837 , Madagascar , Italy
10367 Miers Valley , Q15221117 , Antarctica , Europe
10407 Shanghai Ghetto , Q314645 , Shanghai , Paris
10437 Calgary International Film Festival , Q5019684 , Calgary , Vancouver
10496 life imprisonment in Canada , Q6545106 , Canada , Japan
10504 N-340 road , Q3089635 , Spain , Mexico
10587 Antarctic ice sheet , Q571430 , Antarctica , Americas
10666 Terningskarvet Mountain , Q7702951 , Antarctica , Europe
10669 Tierney Peninsula , Q2647004 , Antarctica , Europe
10684 Mercator Ice Piedmont , Q6818053 , Antarctica , Africa
10842 Washington Escarpment , Q7971852 , Antarctica , Asia
10929 Srebarna Glacier , Q7582414 , Antarctica , Europe
10956 City of Hervey Bay , Q5123720 , Queensland , Tennessee
10965 Tripura University , Q6454069 , India , Aden
11006 Hot Docs - Canadian International Documentary Festival , Q5909927 , Toronto , England
11022 Mount Murphy , Q358124 , Antarctica , Africa
11085 Plantation of Ulster , Q393046 , Ulster , Illinois
11105 City of Cranbourne , Q5123641 , Australia , Nicaragua
11168 A229 road , Q4649026 , Kent , Jerusalem
11173 Siple Dome , Q7525802 , Antarctica , Europe
11270 North Side Gang , Q454940 , Chicago , Belfast
11283 Amsterdam , Q727 , Amsterdam , Pandora
11315 When I Was 17 , Q6418780 , MTV , Lifetime
11336 Skole Raion , Q1969801 , Ukraine , Norway
11338 traditional Korean medicine , Q710679 , Korea , Netherlands
11339 Breidnes Peninsula , Q2681268 , Antarctica , Europe
11482 Prattville High School , Q7238796 , Alabama , Texas
11491 Lodhran Tehsil , Q25247384 , Pakistan , India
11557 Marsden State High School , Q6773243 , Queensland , London
11563 Perth , Q3183 , Perth , Trinity
11617 Fournier Bay , Q141407 , Antarctica , Africa
11630 Honda Z series , Q1626628 , Honda , Iran
11671 Apple Open Directory , Q615095 , Apple , IBM
11708 BBC Arabic Television , Q973341 , BBC , Yahoo
11823 Bach Ice Shelf , Q4838682 , Antarctica , Europe
11839 Publications Ice Shelf , Q378830 , Antarctica , Asia
11902 Lisiya Ridge , Q6558928 , Antarctica , Europe
11936 Jupiter Glacier , Q6314613 , Antarctica , Africa
12152 Athens , Q1524 , Athens , Karachi
12186 Johnson Glacier , Q6268305 , Antarctica , Europe
12293 Art Cologne , Q316634 , Cologne , Copenhagen
12309 Archar Peninsula , Q2646800 , Antarctica , Asia
12350 Tudeshk Rural District , Q15624175 , Iran , Germany
12406 Portsmouth , Q72259 , Portsmouth , Manila
12474 pharmacy school , Q2085148 , pharmacy , biology
12535 Veysian Rural District , Q10856027 , Iran , Venezuela
12573 Tussey Mountain , Q7856825 , Pennsylvania , England
12686 Welcome Mountain , Q7980644 , Antarctica , Africa
12690 Judith River Group , Q1710999 , Saskatchewan , Columbia
12705 HollyShorts Film Festival , Q5881870 , Hollywood , Belfast
12736 Canberra International Film Festival , Q5031263 , Canberra , Baltimore
12748 Balchen Mountain , Q4850244 , Antarctica , Asia
12761 Marie Byrd Land , Q745767 , Antarctica , Africa
12777 Wallow Fire , Q11852558 , Arizona , Kentucky
12819 Gramercy Park Hotel , Q5593636 , Manhattan , Michigan
12825 Mount Discovery , Q1422550 , Antarctica , Asia
12860 Taronga Western Plains Zoo , Q12070638 , Australia , Iran
12873 Madrid Conference of 1991 , Q1343802 , Madrid , Canberra
12927 Maury Bay , Q281475 , Antarctica , Africa
12968 Fort Humboldt State Historic Park , Q5471370 , California , Florida
13124 Pendleton Strait , Q2783891 , Antarctica , Europe
13129 Dundee Whaling Expedition , Q1265564 , Antarctica , Asia
13227 IBM Type-III Library , Q5969110 , IBM , Adobe
13312 This Et Al , Q7785701 , Leeds , Canada
13369 Flask Glacier , Q5457676 , Antarctica , Asia
13400 Athens , Q1524 , Seoul , Athens
13412 Norman conquest of England , Q200485 , England , Catalonia
13484 Riiser-Larsen Ice Shelf , Q1389459 , Antarctica , Asia
13503 Botnneset Peninsula , Q2563386 , Antarctica , Europe
13515 Marad massacre , Q6754580 , Kerala , Tennessee
13520 Green Glacier , Q5602591 , Antarctica , Europe
13530 Hugi Glacier , Q5933615 , Antarctica , Asia
13531 Chol Kiri District , Q4930069 , Cambodia , Indonesia
13532 Operation Dingson , Q3532385 , Brittany , Cologne
13549 2008 Bangalore serial blasts , Q3520752 , Bangalore , Gujarat
13567 Lazarev Ice Shelf , Q2026401 , Antarctica , Asia
13607 Mars Glacier , Q6773125 , Antarctica , Europe
13616 Nevada Cancer Institute , Q16932830 , Nevada , Manitoba
13617 Vinson Plateau , Q6178343 , Antarctica , Asia
13714 Khorramdarreh Rural District , Q5680720 , Iran , Finland
13720 Robertson Bay , Q1445903 , Antarctica , Africa
13731 San Lorenzo Valley , Q7414709 , California , Manitoba
13775 Syrian Arab Army , Q3068744 , Damascus , Seattle
13782 Wylie Bay , Q141517 , Antarctica , Europe
13807 A Latin Dictionary , Q300453 , Latin , English
13852 Harris Peninsula , Q2680414 , Antarctica , Africa
13856 Holtedahl Bay , Q141456 , Antarctica , Asia
13886 Valencia , Q8818 , Valencia , Kiev
13893 BMW 1 Series , Q796395 , BMW , Airbus
13908 A227 road , Q4649025 , Kent , Bangalore
13932 Mount Wade , Q6924466 , Antarctica , Europe
13955 Mel Lastman Square , Q6810763 , Ontario , Saskatchewan
13971 Mount Dallmann , Q1158031 , Antarctica , Africa
14010 Struma Glacier , Q7625312 , Antarctica , Africa
14049 Victorian gold rush , Q2096366 , Victoria , Belfast
14084 Kaliakra Glacier , Q6352486 , Antarctica , Europe
14130 Yule Bay , Q8060903 , Antarctica , Europe
14159 Waynesville School District , Q7976828 , Missouri , Massachusetts
14271 Berar Province , Q2983297 , India , Greece
14324 Agriculture in Saskatchewan , Q4694076 , Saskatchewan , Columbia
14368 Model M keyboard , Q1132822 , IBM , Honda
14443 Ohio gubernatorial elections , Q7081049 , Ohio , Massachusetts
14461 Stonehouse Bay , Q141304 , Antarctica , Europe
14618 1931 Nicaragua earthquake , Q4562866 , Nicaragua , Spain
14661 Wirth Peninsula , Q2648088 , Antarctica , Europe
14769 Maryland Film Festival , Q6781324 , Baltimore , Damascus
14983 history of Limousin , Q2641849 , French , Finnish
15061 Mount Ignatiev , Q6921401 , Antarctica , Africa
15106 Google Toolbar , Q79608 , Google , Microsoft
15155 Borg Massif , Q3298193 , Antarctica , Europe
15170 A25 road , Q4649068 , Surrey , Southampton
15352 Dallas International Film Festival , Q5211352 , Dallas , Hiroshima
15385 Spuyten Duyvil Bridge , Q7581637 , Manhattan , Vancouver
15447 Waltham High School , Q7966612 , Massachusetts , Utah
15471 Beaumont Glacier , Q4877558 , Antarctica , Africa
15478 Jonava District Municipality , Q1351768 , Lithuania , Austria
15527 DVD Studio Pro , Q787647 , Apple , Sega
15560 Forster Ice Piedmont , Q5470623 , Antarctica , Europe
15638 Vardasht Rural District , Q15631468 , Iran , Colombia
15675 Brown Peninsula , Q2680453 , Antarctica , Africa

In [19]:
def filtering(word, word_counts, min_count=2):
    if word == 'null':
        return 0, 'null'
    word_list = word.split(',')
    word_list = [word for word in word_list if word_counts.get(word, 0) >= min_count]
    word_list = sorted(word_list, key=lambda x: word_counts.get(x, 0), reverse=True)
    num = len(word_list)
    return num, ','.join(word_list)

def filtering2(dx, min_count, k):
    df = dx.copy()
    for i in range(len(df)):
        df.loc[i, 'sbj_hop_num'], df.loc[i, 'sbj_one_hop'] = filtering(df.loc[i, 'sbj_one_hop'], word_counts, min_count)
        df.loc[i, 'obj_true_hop_num'], df.loc[i, 'obj_one_hop'] = filtering(df.loc[i, 'obj_one_hop'], word_counts, min_count)
        df.loc[i, 'obj_new_hop_num'], df.loc[i, 'obj_new_one_hop'] = filtering(df.loc[i, 'obj_new_one_hop'], word_counts, min_count)

    well_list = []

    for i in range(len(df)):
        if (df.loc[i, 'sbj_hop_num']>=k and df.loc[i, 'obj_true_hop_num']>=k and df.loc[i, 'obj_new_hop_num']>=k):
            well_list.append(i)
    print(f'Total number of data with (freq >= {min_count}) and (length >= {k}) is {len(well_list)}({round(100 * len(well_list) / 21919, 2)}%)')

In [20]:
df = dx.copy()
for min_count in range(1, 11):
    for k in range(0, 11):
        filtering2(df, min_count, k)

Total number of data with (freq >= 1) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 1) and (length >= 1) is 21366(97.48%)
Total number of data with (freq >= 1) and (length >= 2) is 19878(90.69%)
Total number of data with (freq >= 1) and (length >= 3) is 18146(82.79%)
Total number of data with (freq >= 1) and (length >= 4) is 16515(75.35%)
Total number of data with (freq >= 1) and (length >= 5) is 15083(68.81%)
Total number of data with (freq >= 1) and (length >= 6) is 13622(62.15%)
Total number of data with (freq >= 1) and (length >= 7) is 12018(54.83%)
Total number of data with (freq >= 1) and (length >= 8) is 10578(48.26%)
Total number of data with (freq >= 1) and (length >= 9) is 9649(44.02%)
Total number of data with (freq >= 1) and (length >= 10) is 8708(39.73%)
Total number of data with (freq >= 2) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 2) and (length >= 1) is 20898(95.34%)
Total number of data with (freq >= 2) and (length >= 2) is 18824(85.88%)
Total number of data with (freq >= 2) and (length >= 3) is 16572(75.61%)
Total number of data with (freq >= 2) and (length >= 4) is 14678(66.96%)
Total number of data with (freq >= 2) and (length >= 5) is 13142(59.96%)
Total number of data with (freq >= 2) and (length >= 6) is 11636(53.09%)
Total number of data with (freq >= 2) and (length >= 7) is 10033(45.77%)
Total number of data with (freq >= 2) and (length >= 8) is 8672(39.56%)
Total number of data with (freq >= 2) and (length >= 9) is 7722(35.23%)
Total number of data with (freq >= 2) and (length >= 10) is 6884(31.41%)
Total number of data with (freq >= 3) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 3) and (length >= 1) is 20639(94.16%)
Total number of data with (freq >= 3) and (length >= 2) is 18402(83.95%)
Total number of data with (freq >= 3) and (length >= 3) is 15932(72.69%)
Total number of data with (freq >= 3) and (length >= 4) is 14008(63.91%)
Total number of data with (freq >= 3) and (length >= 5) is 12405(56.59%)
Total number of data with (freq >= 3) and (length >= 6) is 10892(49.69%)
Total number of data with (freq >= 3) and (length >= 7) is 9301(42.43%)
Total number of data with (freq >= 3) and (length >= 8) is 7935(36.2%)
Total number of data with (freq >= 3) and (length >= 9) is 7001(31.94%)
Total number of data with (freq >= 3) and (length >= 10) is 6202(28.3%)
Total number of data with (freq >= 4) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 4) and (length >= 1) is 20506(93.55%)
Total number of data with (freq >= 4) and (length >= 2) is 18112(82.63%)
Total number of data with (freq >= 4) and (length >= 3) is 15544(70.92%)
Total number of data with (freq >= 4) and (length >= 4) is 13616(62.12%)
Total number of data with (freq >= 4) and (length >= 5) is 11989(54.7%)
Total number of data with (freq >= 4) and (length >= 6) is 10513(47.96%)
Total number of data with (freq >= 4) and (length >= 7) is 8885(40.54%)
Total number of data with (freq >= 4) and (length >= 8) is 7533(34.37%)
Total number of data with (freq >= 4) and (length >= 9) is 6617(30.19%)
Total number of data with (freq >= 4) and (length >= 10) is 5859(26.73%)
Total number of data with (freq >= 5) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 5) and (length >= 1) is 20353(92.86%)
Total number of data with (freq >= 5) and (length >= 2) is 17900(81.66%)
Total number of data with (freq >= 5) and (length >= 3) is 15286(69.74%)
Total number of data with (freq >= 5) and (length >= 4) is 13342(60.87%)
Total number of data with (freq >= 5) and (length >= 5) is 11705(53.4%)
Total number of data with (freq >= 5) and (length >= 6) is 10196(46.52%)
Total number of data with (freq >= 5) and (length >= 7) is 8606(39.26%)
Total number of data with (freq >= 5) and (length >= 8) is 7274(33.19%)
Total number of data with (freq >= 5) and (length >= 9) is 6351(28.97%)
Total number of data with (freq >= 5) and (length >= 10) is 5621(25.64%)
Total number of data with (freq >= 6) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 6) and (length >= 1) is 20245(92.36%)
Total number of data with (freq >= 6) and (length >= 2) is 17707(80.78%)
Total number of data with (freq >= 6) and (length >= 3) is 15058(68.7%)
Total number of data with (freq >= 6) and (length >= 4) is 13093(59.73%)
Total number of data with (freq >= 6) and (length >= 5) is 11487(52.41%)
Total number of data with (freq >= 6) and (length >= 6) is 9973(45.5%)
Total number of data with (freq >= 6) and (length >= 7) is 8382(38.24%)
Total number of data with (freq >= 6) and (length >= 8) is 7070(32.26%)
Total number of data with (freq >= 6) and (length >= 9) is 6169(28.14%)
Total number of data with (freq >= 6) and (length >= 10) is 5460(24.91%)
Total number of data with (freq >= 7) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 7) and (length >= 1) is 20159(91.97%)
Total number of data with (freq >= 7) and (length >= 2) is 17549(80.06%)
Total number of data with (freq >= 7) and (length >= 3) is 14889(67.93%)
Total number of data with (freq >= 7) and (length >= 4) is 12920(58.94%)
Total number of data with (freq >= 7) and (length >= 5) is 11312(51.61%)
Total number of data with (freq >= 7) and (length >= 6) is 9792(44.67%)
Total number of data with (freq >= 7) and (length >= 7) is 8199(37.41%)
Total number of data with (freq >= 7) and (length >= 8) is 6910(31.53%)
Total number of data with (freq >= 7) and (length >= 9) is 6015(27.44%)
Total number of data with (freq >= 7) and (length >= 10) is 5316(24.25%)
Total number of data with (freq >= 8) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 8) and (length >= 1) is 20060(91.52%)
Total number of data with (freq >= 8) and (length >= 2) is 17416(79.46%)
Total number of data with (freq >= 8) and (length >= 3) is 14772(67.39%)
Total number of data with (freq >= 8) and (length >= 4) is 12799(58.39%)
Total number of data with (freq >= 8) and (length >= 5) is 11171(50.96%)
Total number of data with (freq >= 8) and (length >= 6) is 9644(44.0%)
Total number of data with (freq >= 8) and (length >= 7) is 8063(36.79%)
Total number of data with (freq >= 8) and (length >= 8) is 6783(30.95%)
Total number of data with (freq >= 8) and (length >= 9) is 5876(26.81%)
Total number of data with (freq >= 8) and (length >= 10) is 5181(23.64%)
Total number of data with (freq >= 9) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 9) and (length >= 1) is 19970(91.11%)
Total number of data with (freq >= 9) and (length >= 2) is 17287(78.87%)
Total number of data with (freq >= 9) and (length >= 3) is 14645(66.81%)
Total number of data with (freq >= 9) and (length >= 4) is 12666(57.79%)
Total number of data with (freq >= 9) and (length >= 5) is 11030(50.32%)
Total number of data with (freq >= 9) and (length >= 6) is 9516(43.41%)
Total number of data with (freq >= 9) and (length >= 7) is 7921(36.14%)
Total number of data with (freq >= 9) and (length >= 8) is 6654(30.36%)
Total number of data with (freq >= 9) and (length >= 9) is 5747(26.22%)
Total number of data with (freq >= 9) and (length >= 10) is 5060(23.08%)
Total number of data with (freq >= 10) and (length >= 0) is 21919(100.0%)
Total number of data with (freq >= 10) and (length >= 1) is 19909(90.83%)
Total number of data with (freq >= 10) and (length >= 2) is 17203(78.48%)
Total number of data with (freq >= 10) and (length >= 3) is 14540(66.34%)
Total number of data with (freq >= 10) and (length >= 4) is 12560(57.3%)
Total number of data with (freq >= 10) and (length >= 5) is 10932(49.87%)
Total number of data with (freq >= 10) and (length >= 6) is 9403(42.9%)
Total number of data with (freq >= 10) and (length >= 7) is 7822(35.69%)
Total number of data with (freq >= 10) and (length >= 8) is 6556(29.91%)
Total number of data with (freq >= 10) and (length >= 9) is 5665(25.85%)
Total number of data with (freq >= 10) and (length >= 10) is 4973(22.69%)

In [ ]:
sample_list = random.sample(well_list, 1000)
sample_list.sort()
df = df.iloc[sample_list]

In [15]:
df = df.reset_index(drop = True)
df

,index,subject,subject_id,sbj_one_hop,sbj_hop_num,obj_true,obj_true_id,obj_one_hop,obj_true_hop_num,obj_new,obj_new_id,obj_new_one_hop,obj_new_hop_num,view
0,4,Lyon,Q456,"Europe,France,Kyiv,NADD Wikidata project,Saint...",37,Beirut,Q3820,"Catholic Encyclopedia,Lebanon,largest city,Cre...",39,Manila,Q1461,"New International Encyclopedia,Philippines,Asi...",82,2376138
1,90,Rabat,Q3551,"Granat Encyclopedic Dictionary,Armenian Soviet...",20,Damascus,Q3766,"Catholic Encyclopedia,Bible Encyclopedia of Ar...",37,Istanbul,Q406,"Europe,Sytin Military Encyclopedia,Asia,Creati...",70,1201331
2,143,Delusions of Grandeur,Q705247,"Germany,Spain,Madrid,Barcelona,film,color,vide...",21,French,Q150,"Belgium,Switzerland,Algeria,Vietnam,Morocco,La...",71,English,Q1860,"Granat Encyclopedic Dictionary,Armenian Soviet...",149,28776
3,145,Falling Down,Q289598,"Los Angeles,film,color,video on demand,drama f...",33,France,Q142,"Jewish Encyclopedia of Brockhaus and Efron,Eur...",185,Philippines,Q928,"New International Encyclopedia,Laos,Sri Lanka,...",275,2256340
4,168,Cees Nooteboom,Q158394,"human,male,writer,works protected by copyright...",32,Dutch,Q7411,"New International Encyclopedia,Small Brockhaus...",53,Indonesian,Q9240,"English,Indonesia,Arabic,agglutinative languag...",28,43963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,21872,Paul Huet,Q1354027,"human,male,National Gallery of Victoria,copyri...",33,Paris,Q90,"Catholic Encyclopedia,Europe,Genadendal Music ...",60,Venice,Q641,"Granat Encyclopedic Dictionary,Italy,big city,...",78,10248
996,21893,Wilkie Collins,Q210740,"human,male,writer,United Kingdom of Great Brit...",22,London,Q84,"Granat Encyclopedic Dictionary,Catholic Encycl...",104,Chicago,Q1297,"United States of America,New International Enc...",25,397478
997,21907,Mary Wollstonecraft,Q101638,"human,New International Encyclopedia,German,Lo...",42,French,Q150,"Italy,Belgium,Switzerland,Algeria,Vietnam,Moro...",73,English,Q1860,"Granat Encyclopedic Dictionary,Armenian Soviet...",147,1873516
998,21909,Tel Aviv,Q33935,"English,Israel,Mexico City,Organization of Wor...",42,Milan,Q490,"Granat Encyclopedic Dictionary,Jewish Encyclop...",65,Tokyo,Q1490,"Asia,largest city,Japan,Berlin,megacity,global...",89,4019548
999,21917,Umayyad Caliphate,Q8575586,"New International Encyclopedia,Asia,Islam,Afri...",24,Damascus,Q3766,"Catholic Encyclopedia,city,national capital,To...",39,Athens,Q1524,"Sytin Military Encyclopedia,metropolis,Kyiv,Be...",104,4127429